html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  /* font-family: "Courgette", cursive;
  font-family: "PT Serif", serif; */
  font-family: "Roboto", sans-serif;
}

*:root {
  --principal-color: rgb(211, 173, 127);
  --media-margin-top: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

img, iframe {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  margin: auto;
  padding-bottom: 1.8rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--principal-color);
}

a {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 0.9rem;
  padding: 0.3rem 0;
  text-align: center;
  background-color: var(--principal-color);
}

p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.8;
  font-weight: lighter;
  color: #eee;
}

.div-container-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  margin-top: 0.6rem;
}

.div-container-price h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.div-container-price span {
  text-decoration: line-through;
  align-self: flex-end;
  font-weight: 300;
}

/* 500px */
@media screen and (min-width: 31.25em) {
  h2 {
    font-size: 2.2rem;
  }
}

/* 550px */
@media screen and (min-width: 34.375em) {
  p {
    font-size: 1rem;
  }
}

/* 800px */
@media screen and (min-width: 50em) {
  a {
    margin: 0;
    margin-top: 0.9rem;
    padding: 0.5rem 0;
  }

  p {
    font-size: 1.2rem;
  }
}

/* 1024 */
@media screen and (min-width: 64em) {
  h2 {
    font-size: 2.6rem;
  }

  a {
    padding: 0.55rem 0;
    width: 170px;
    font-size: 1.1rem;
  }

  p {
    font-size: 1.3rem;
  }

  .div-container-price h4 {
    font-size: 1.3rem;
  }

  .div-container-price span {
    font-size: 1.2rem;
  }
}

/* 1400px */
@media screen and (min-width: 87.5em) {
  .div-container-price h4 {
    font-size: 1.35rem;
  }

  .div-container-price span {
    font-size: 1.25rem;
  }
}
